extends ./layout/_default.pug
block css
  link(rel="stylesheet", href="../css/index.css")
block js
  script(src="../js/index.js")

block content
  section.wrapper(style="padding: 5em 0;")
  h1 INDEX
  //- hero 확장기능 깔고 설정 들어가서 체크해제, pug output ../html으로 저장
  //- crtl+s로 저장하면 자동으로 pug->html파일이 html폴더로